.InfoBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}
.card{
    margin-top: 20px;
}

h1{
    font-size: 40px;
    margin-top: 20px;
    color: aliceblue;
}
  
.imageCard{
    height: 280px;
    width: 320px;
}

p{
    color: black;
    font-size: 15px
}
